/*GENERAL RULES */
@import "" screen and (max-width: 768px);
@import "illustration.css";
@import "contact.css";
@import "about.css";
@import "gif.css";
@import "animation.css";
* {
	margin:0;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Raleway, Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
  }

	html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 0 0 185px;
}
@style_illustration;
@style_contact;

h1, h2, h3, p {
	color: #1B1D1F;
	padding: 0 0 10px
}

.albumA, .albumB, .albumC {
	position: relative;
	width: 100%;
	display: grid;
}
/*+++++++++++++++++++++++++HEADER+++++++++++++++++++++++++++++++++++*/

.nav_container {
	height: 150px;
	padding: 12px;
}

	.logo {
	position: absolute;
	width: 68px;
	height: 68px;
	margin: 25px 40px;
	}

		.logo img {
			position: relative;
			text-align: center;
			margin: 0 auto;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}

.navbar {
	float: right;
	margin: 12px;
}

.navbar a {
	position: relative;
	width: 90px;
	text-align: center;
	display: block;
	padding: 50px 10px;
	color: #1B1D1F;
	font-weight: bold;
	transition: .3s;
	float: left;
	font-size: 12pt;
	}
/*+++++++++++++++++++++++++++WRAPER+++++++++++++++++++++++++++++++++*/

#wrapper {
	width: 100%;
	padding: 25px 0;
}

.container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

/*+++++++++++++++++++++++CONTAINER-HOME+++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++ALBUM-HOME+++++++++++++++++++++++++++*/

.albumA {
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(1, 2fr 2fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	padding: 15px;
	position: relative;
}

	.albumA .thumbnail {
		object-fit: cover;
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

		.albumA .thumbnail .imgA {
			width: 100%;
		}

		.albumA .thumbnail .imgA img {
			width: 100%;
			height: auto;
			display: block;
			object-fit: cover;
		}

			.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			background-color: #08265Ff1;
		}

		.imgA:hover .overlay {
			opacity: 1;
		}

		.textA {
			position: relative;
			text-align: center;
			font-family: "open sans";
			font-weight: bold;
			font-size: 26pt;
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.textA a {
			color: #fff;
		}

/*+++++++++++++++++++++++++++++++FOOTER+++++++++++++++++++++++++++++*/
footer {
	width: 100%;
	text-align: center;
	padding: 48px;
	background-color: #1B1D1F;
	bottom: 0;
	position: absolute;
	color: #fff;
}

#social_links {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Raleway, Roboto, "Roboto Condensed", "Open Sans", Futura, Lato, Arial, sans-serif;
}

#social_links a {
	padding: 16px 18px 24px;
	display: inline-block;
}

#social_links img {
	width: 24px;
}

.copy p {
	color: #fff;
	font-size: 12pt;
}

/*+++++++++++++++++++++++++++DISPLAY_SIZES+++++++++++++++++++++++++++*/

@media only screen and (max-width: 600px) {
	.albumA {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0;
	}

	.navbar a {
		font-size: 9pt;
		padding: 0 auto;
		width: 60px;
	}

	#social_links img {
		width: 18px;
	}

	#wrapper {
		padding: 0;
	}
}


@media only screen and (max-width: 400px) {
	#social_links img {
		width: 14px;
	}

	.copy p {
		font-size: 10pt;
	}

}
