/**/

.lost_container {
  display: inline-block;
	width: 100%;
	max-width: 700px;
	margin-bottom: 20px;
}

.lost {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.lost_header {
  text-align: center;
  font-size: 52pt;
  padding: 10px 0;
}

.lost_text {
  margin-top: 10px;
}

.lost_text a {
  display: inline-block;
  color: rgb(28 30 32);
  text-decoration: none;
}

.lost_text a:hover {
  text-decoration: line-through;
  font-size: 23pt;
}
