/*PAGE BODY RULES*/
/*

/* Create three equal columns that floats next to each other *//*
.columns {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns *//*
.row:after {
  content: "";
  display: table;
  clear: both;
}

*/

#work_wrap {
  width: 100%;
  display: grid;
  margin: 0;
  padding: 0;
}

.rows {
  margin: 10px 0;
  padding: 15px 0;
  display: inline-block;
  width: 100%;
}

.colL {
  width: 60%;
  float: left;
}

.colR {
  padding-left: 15px;
  width: 40%;
  float: left;
}

.img_container {
  width: 100%;
  display: grid;
}

@media only screen and (max-width: 750px) {
  .colL {
    width: 100%;
    float: none;
  }

  .colR {
    padding: 0;
    width: 100%;
    float: none;
  }

  .img_container {
    width: 100%;
    display: grid;
    margin-bottom: 5px;
  }

}
