
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 3fr 2fr);
  #grid-gap: 10px;
  #background-color: #2196F3;
  #padding: 5px;
}

.grid-container > div {
  #background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.grid {
  #background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
}

.it3 {
  grid-column: 1 / span 2;
}

.grid .img2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 35% 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
.it1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
*/

h1, h2, h3, h4 {
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}

.grey {
  color: darkgrey;
}

@media only screen and (max-width: 760px) {

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    background-color: #2196F3;
    padding: 0;
  }

  .it3 {
    grid-column: 1;
  }

}
